<div class="background">
  <div class="gradient">
    <div class="container dignity">
      <h1><mat-icon style="font-size: 64px; margin-bottom: 36px">all_inclusive</mat-icon></h1>
      <h1 style="text-transform: none;">Meu Primeiro Angular</h1>
       <h2 style="text-transform: none; text-align: center">O Ángulo Entre Crooklyn e Samboja </h2>
      <div class="actions">
        <a [ngClass]="animateOnRouteEnter"
           mat-raised-button class="actions-main" color="primary" routerLink="../features">
          <i class="fa fa-gears fa-lg"></i>&nbsp; Componentes
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples"
           [ngClass]="animateOnRouteEnter">
          <i class="fa fa-signal"></i>&nbsp; Amostras
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings"
           [ngClass]="animateOnRouteEnter">
          <i class="fa fa-mercury fa-lg"></i>&nbsp; Mudar Visual
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">

</div>
