<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 entry">
      <anms-big-input placeholder="Eu farei o seguinte ..."
                      [value]="newTodo"
                      (keyup)="onNewTodoChange($event.target.value)"
                      (keyup.enter)="!isAddTodoDisabled && onAddTodo()"
                      (keyup.escape)="onNewTodoClear()">
        <anms-big-input-action icon="add" color="accent"
                               (action)="onAddTodo()"
                               [disabled]="isAddTodoDisabled"
                               matTooltip="Acrescentar Novo Quefazer" matTooltipPosition="before">
        </anms-big-input-action>
        <anms-big-input-action icon="delete_forever" color="warn"
                               (action)="onRemoveDoneTodos()"
                               [disabled]="isRemoveDoneTodosDisabled"
                               matTooltip="Tirar Quefazeres Já Feitos" matTooltipPosition="after">
        </anms-big-input-action>
      </anms-big-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>
        Lista de Quefazeres
        <button class="todos-filter" mat-icon-button [matMenuTriggerFor]="todosFilter">
          <mat-icon>filter_list</mat-icon>
        </button>
        <mat-menu class="todos-filter-menu-overlay" #todosFilter="matMenu" xPosition="before">
          <button mat-menu-item (click)="onFilterTodos('ALL')" [ngClass]="{ active: todos.filter === 'ALL' }">
            <mat-icon>assignment</mat-icon>
            <span>Todos</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('DONE')" [ngClass]="{ active: todos.filter === 'DONE' }">
            <mat-icon>done</mat-icon>
            <span>Done</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('ACTIVE')" [ngClass]="{ active: todos.filter === 'ACTIVE' }">
            <mat-icon>check_box_outline_blank</mat-icon>
            <span>Ativo</span>
          </button>
        </mat-menu>
        <mat-chip-list class="todos-filter-info d-none d-sm-block">
          <mat-chip>
            Exibindo {{todos.filter !== 'ALL' ? filteredTodos.length : ''}}
            {{todos.filter.toLowerCase()}}
            {{todos.filter === 'ALL' ? filteredTodos.length : ''}}
            todo{{filteredTodos.length > 1 ? 's' : ''}}
          </mat-chip>
        </mat-chip-list>
      </h2>
      <mat-card *ngFor="let todo of filteredTodos" class="todo" [ngClass]="animateOnRouteEnter">
        <mat-checkbox class="todo-done" [checked]="todo.done" (change)="onToggleTodo(todo)"></mat-checkbox>
        <span class="todo-label"
              [ngClass]="{ 'todo-label-done': todo.done }"
              (click)="onToggleTodo(todo)">
          &nbsp;{{todo.name}}&nbsp;
        </span>
      </mat-card>
      <br>
      <br>
    </div>
    <div class="offset-md-1  col-md-5 dignity">
      <h2>Exemplo: Quefazeres</h2>
      <p>
        Isto é um exemplo de <code>quefazer</code> clássico com apoio para chaveando, adicionando, tirando e filtrando os ítens na lista.
      </p>
      <p>
        Λορεμ ιπσθμ δολορ σιτ αμετ, περ ερθδιτι σιγνιφερθμqθε ει, εθμ σολθτα ιντερεσσετ αccομμοδαρε cθ. Qθι σονετ επιcθρει ιδ. Εθ μει σαλε qθοδσι. Qθισ βρθτε μελιθσ προ νο, ατ vισ ασσθμ vερεαρ cιvιβθσ, εξ μινιμ ιθδιcαβιτ εφφιcιενδι qθο. Cασε δολορεμ προ εξ, μει μεισ εθισμοδ περτιναcια αν.
      </p>
      <p>
        Λορεμ ιπσθμ δολορ σιτ αμετ, περ ερθδιτι σιγνιφερθμqθε ει, εθμ σολθτα ιντερεσσετ αccομμοδαρε cθ. Qθι σονετ επιcθρει ιδ. Εθ μει σαλε qθοδσι. Qθισ βρθτε μελιθσ προ νο, ατ vισ ασσθμ vερεαρ cιvιβθσ, εξ μινιμ ιθδιcαβιτ εφφιcιενδι qθο. Cασε δολορεμ προ εξ, μει μεισ εθισμοδ περτιναcια αν.
      </p>
      <br>
    </div>
  </div>

</div>
