$anms-primary: mat-palette($mat-blue-grey);
$anms-accent: mat-palette($mat-yellow, 100);
$anms-warn: mat-palette($mat-brown, 900);

$anms-theme: mat-light-theme($anms-primary, $anms-accent, $anms-warn);
