<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>Configurações</h1></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 icon-form-field">
      <mat-icon color="accent">color_lens</mat-icon>
      <mat-form-field>
        <mat-select placeholder="Color theme"
                    name="theme"
                    [ngModel]="settings?.theme"
                    (selectionChange)="onThemeSelect($event)">
          <mat-option *ngFor="let t of themes" [value]="t.value">
            {{t.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6 icon-form-field">
      <mat-icon color="accent">lightbulb_outline</mat-icon>
      <mat-form-field>
        <mat-select placeholder="Modo Noturno Automático"
                    name="auto-night-mode"
                    [ngModel]="settings?.autoNightMode?.toString()"
                    (selectionChange)="onAutoNightModeSelect($event)">
          <mat-option value="false">Desligado</mat-option>
          <mat-option value="true">Ligado</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
